extends ./layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen de nosotros" class="img-fluid")
            .col-md-7
                h1= pagina                
                blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore recusandae at molestias tempore eius asperiores, distinctio rem!
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, illum, fugiat quam dolorem ipsam nam sint quod quibusdam qui laborum nulla, facilis blanditiis adipisci. Dolore possimus quaerat ipsam aut quis!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint libero cupiditate, totam, iure error molestiae nam commodi aliquid, ipsa animi iste dignissimos accusamus excepturi.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, at nulla quod, consectetur non repellendus mollitia, reiciendis perferendis quas saepe modi dolor. Rem, vel tenetur.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aperiam sapiente eligendi, sit, fugiat accusantium dolorum alias enim debitis, harum numquam earum velit?
                .col-md-4
                    img(src="img/icono_precio.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, at nulla quod, consectetur non repellendus mollitia, reiciendis perferendis quas saepe modi dolor. Rem, vel tenetur.